<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ApiTests Suite">
    <test name="PostTests">
        <classes>
            <class name="jsonplaceholder.tests.PostTests">
                <methods>
                    <include name="testAllPosts"/>
                    <include name="testGetValidPost">
                        <parameter name="userId" value="10"/>
                        <parameter name="postId" value="99"/>
                    </include>
                    <include name="testGetNonExistentPost">
                        <parameter name="postId" value="150"/>
                    </include>
                    <include name="testCreatePost">
                        <parameter name="userId" value="1"/>
                    </include>
                </methods>
            </class>
        </classes>
    </test>
    <test name="GetTests">
        <parameter name="userId" value="5"/>
        <classes>
            <class name="jsonplaceholder.tests.UserTests"/>
        </classes>
    </test>
</suite>


